@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 80px;
}

p {
    font-weight: 500;
    font-size: 25px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: #fff;
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 120px;
}

.header_list {
    display: flex;
    gap: 45px;
}

.header_nav a {
    font-style: 20px;
    font-weight: 500;
    transition: opacity 0.3s;
}

.header_nav a:hover {
    opacity: 0.7;
}

.header_nav a.active {
    font-weight: 700;
}

.welcome_btn {
    font-weight: 700;
    font-size: 25px;
    padding: 10px 35px;
    background-color: #EB3223;
    color: #fff;
    border-radius: 25px;
    transition: 0.3s;
}

.welcome_btn:hover {
    opacity: 0.8;
}

.welcome {
    background-image: url("elements/hero_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.welcome_title {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 20px;
}

.welcome_desc {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 55px;
}

.welcome_text {
    width: 560px;
    margin-top: -100px;
}

.add {
    background-color: #EFEFEF;
    width: 100%;
}

.add .container {
    display: flex;
    justify-content: space-around;
    gap: 150px;
    padding: 15px;
}

.add_text {
    text-align: center;
}

.add_text h3 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 30px;
}

.add_text p {
    margin-top: 0px;
    font-weight: 400;
    font-size: 20px;
}

.about {
    background-image: url(elements/about_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 600px;
}
.about .container {
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: -50px;
}

.about_text h2 {
    margin-bottom: 25px;
}

.adoption {
    text-align: center;
    justify-content: center;
    height: 650px;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.adoption h2 {
    margin-bottom: 25px;
}

.adoption p {
    margin-bottom: 100px;
}

.contacts {
    justify-content: center;
}

.info {
    display: flex;
    gap: 100px;
    margin-bottom: 50px;
}

.contacts p {
    font-weight: 500;
    font-size: 15px
}

.contacts h2 {
    text-align: center;
}

.map {
    width: 100%;
    height: 550px;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid #EFEFEF;
}

.description p {
    margin-bottom: -10px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.footer {
    background-color: #BCBCBC;
    height: 150px;
    margin-top: 100px;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}